@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*body {
  font: 14px;
  font-family: "Roboto", sans-serif;
}

a {
  color: #00b7ff;
}
.nav-link {
  font-family: "Roboto", sans-serif;
}*/
/* 
body {
  background: #fefefe;
} */
.row {
  --bs-gutter-x: 0.8rem !important;
}
@media (min-width: 768px) {
  .col-my-p20 {
    flex: 0 0 auto;
    width: 20%;
  }
}

h5.card-title {
  font: 16px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

button.chosen {
  font-family: "Roboto", sans-serif;
}
button.unchosen {
  font-family: "Roboto", sans-serif;
  color: RGB(13, 110, 253);
}

.kpi {
  font-size: 2rem;
}

.percent-wrapper {
  opacity: 0.5;
  font-size: 1rem;
  margin-left: 0.25rem;
}
@media only screen and (max-width: 990px) {
  #totalScoreDist {
    margin: 20px 30px;
  }
}
@media only screen and (max-width: 600px) {
  #totalScoreDist {
    margin: 0px 10px;
  }
}

.tab-container {
  margin: 10px 0px;
}

#overviewChart > .col-md-3 > .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card {
  height: 100%;
}
