block vars
  - var menu = "home";

nav.navbar.navbar-expand-lg.navbar-light.bg-light 
  .container 
    a.navbar-brand(href="#") SKKU-OSSCA
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon 
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0 
        li.nav-item 
          a.nav-link(class=`${menu === 'home' ? 'active' : ''}`, aria-current="page", href="/") Home 
        li.nav-item 
          a.nav-link(class=`${menu === 'user' ? 'active' : ''}`, href="/user") User1
        li.nav-item 
          a.nav-link(class=`${menu === 'user2' ? 'active' : ''}`, href="/user2") User2
        li.nav-item 
          a.nav-link(class=`${menu === 'repository' ? 'active' : ''}`, href="/repo") Repository