.tab-container
    ul#pills-tab.nav.nav-pills.mb-3(role="tablist")
      li.nav-item(role="presentation") 
        button#pills-score-tab.nav-link.active(data-bs-toggle="pill",data-bs-target="#pills-score", type="button", role="tab", aria-controls="pills-score", aria-selected="true") Score
      li.nav-item(role="presentation") 
        button#pills-commits-tab.nav-link(data-bs-toggle="pill",data-bs-target="#pills-commits", type="button", role="tab", aria-controls="pills-commits", aria-selected="true") Commits 
      li.nav-item(role="presentation")  
        button#pills-stars-tab.nav-link(data-bs-toggle="pill",data-bs-target="#pills-stars", type="button", role="tab", aria-controls="pills-stars", aria-selected="true") Stars 
      li.nav-item(role="presentation")  
        button#pills-followers-tab.nav-link(data-bs-toggle="pill",data-bs-target="#pills-followers", type="button", role="tab", aria-controls="pills-followers", aria-selected="true") followers
      li.nav-item(role="presentation")  
        button#pills-followings-tab.nav-link(data-bs-toggle="pill",data-bs-target="#pills-followings", type="button", role="tab", aria-controls="pills-followings", aria-selected="true") followings