doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/nav-footer.css')
    link(rel='stylesheet', href='/stylesheets/table.css')
    
    script(src="http://code.jquery.com/jquery-latest.js")
    script(src='javascripts/sortTable.js', type='text/javascript')
    script(src='javascripts/filterTable.js', type='text/javascript')
  body
    include components/header

    block content
    //-include './components/footer'