extends layout

block content
  script(type="text/javascript", src="/javascripts/statistic.js")
  //- chart.js를 node로 설치했으나 사용법을 모르겠어서 그냥 import
  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js")
  h1= title
  p Welcome to #{title}
  include components/stat-tab-container
  .row 
    .col-md-3 
      .card
        h5.card-title 3점 이상 비율
        p#overGoal.card-text 
    .col-md-3 
      .card  
        h5.card-title 총 커밋 수
        p#totalCommit.card-text 
    .col-md-3 
      .card
        h5.card-title 총 스타 수
        p#totalStar.card-text 
    .col-md-3
      .card 
        h5.card-title 총 레포 수
        p#totalRepo.card-text 
  #pills-tabContent.container.tab-content
    #pills-score.tab-pane.fade.show.active(role="tabpanel",aria-labelledby="pills-score-tab")
      h2 pills-score-tab
      
      .row 
        .col-md-6 
          .card
            h5.card-title 전체 점수분포
            canvas#totalScoreDist
        .col-md-6
          .card
            h5.card-title 점수대별 퍼센티지
            
      .row
        .col-md-4
          .card
            h5.card-title 학년별 점수분포
            canvas#yearScoreDist
        .col-md-4
          .card
            h5.card-title 학과별 점수분포
            canvas#deptScoreDist
        .col-md-4
          .card
            h5.card-title 연도별 점수분포
            canvas#annualScoreDist

    #pills-commits.tab-pane.fade(role="tabpanel",aria-labelledby="pills-commits-tab")
      h2 pills-commits-tab
      .row 
        .col-md-6 
          .card
            h5.card-title 전체 커밋분포
            canvas#totalCommitDist 
        .col-md-6
          .card
            h5.card-title 커밋 개수별 퍼센티지
            
      .row
        .col-md-4
          .card
            h5.card-title 학년별 커밋분포
            canvas#yearCommitDist
        .col-md-4
          .card
            h5.card-title 학과별 커밋분포
            canvas#deptCommitDist
        .col-md-4
          .card
            h5.card-title 연도별 커밋분포
            canvas#annualCommitDist
    #pills-stars.tab-pane.fade(role="tabpanel",aria-labelledby="pills-stars-tab")
      h2 pills-stars-tab
      .row 
        .col-md-6 
          .card
            h5.card-title 전체 Star분포
            canvas#totalStarDist 
        .col-md-6
          .card
            h5.card-title Star 개수별 퍼센티지
            
      .row
        .col-md-4
          .card
            h5.card-title 학년별 Star분포
            canvas#yearStarDist
        .col-md-4
          .card
            h5.card-title 학과별 Star분포
            canvas#deptStarDist
        .col-md-4
          .card
            h5.card-title 연도별 Star분포
            canvas#annualStarDist
    #pills-followers.tab-pane.fade(role="tabpanel",aria-labelledby="pills-followers-tab")
      h2 pills-followers-tab
      .row 
        .col-md-6 
          .card
            h5.card-title 전체 Follower 분포
            canvas#totalFollowerDist 
        .col-md-6
          .card
            h5.card-title Follower 수별 퍼센티지
            
      .row
        .col-md-4
          .card
            h5.card-title 학년별 Follower분포
            canvas#yearFollowerDist
        .col-md-4
          .card
            h5.card-title 학과별 Follower분포
            canvas#deptFollowerDist
        .col-md-4
          .card
            h5.card-title 연도별 Follower분포
            canvas#annualFollowerDist
    #pills-followings.tab-pane.fade(role="tabpanel",aria-labelledby="pills-followings-tab")
      h2 pills-followings-tab
      .row 
        .col-md-6 
          .card
            h5.card-title 전체 Following분포
            canvas#totalFollowingDist 
        .col-md-6
          .card
            h5.card-title Following 개수별 퍼센티지
            
      .row
        .col-md-4
          .card
            h5.card-title 학년별 Following분포
            canvas#yearFollowingDist
        .col-md-4
          .card
            h5.card-title 학과별 Following분포
            canvas#deptFollowingDist
        .col-md-4
          .card
            h5.card-title 연도별 Following분포
            canvas#annualFollowingDist
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js",integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf",crossorigin="anonymous")
      
    
